#service yaml file for Product microservice
apiVersion: v1
kind: Service
metadata:
  name: config-server-service
  labels:
        app: config-server
spec:
    selector:
        app: config-server
    ports:
        - protocol: TCP
          port: 8888
          targetPort: 8888
    type: NodePort