#service yaml file for Notification microservice
apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  labels:
    app: notifications
spec:
  selector:
    app: notifications
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: LoadBalancer