#service yaml file for Product microservice
apiVersion: v1
kind: Service
metadata:
  name: product-service
  labels:
        app: product
spec:
    selector:
        app: product
    ports:
        - protocol: TCP
          port: 8081
          targetPort: 8080
    type: LoadBalancer