version: "1.0"
services:
  notifications-service:
    image: notifications-service:latest
    ports:
      - "8080:8080"
    environment:
      AWS_REGION: ${AWS_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SNS_TOPIC_ARN: ${AWS_SNS_TOPIC_ARN}

  product-service:
    image: product-service:latest
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${MYSQL_RDS_HOST}:${MYSQL_RDS_PORT}/${MYSQL_RDS_DB}?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: ${MYSQL_RDS_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_RDS_PASSWORD}
      AWS_S3_BUCKET: ${AWS_S3_BUCKET}
      AWS_SQS_QUEUE_URL: ${AWS_SQS_QUEUE_URL}
      AWS_REGION: ${AWS_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    depends_on:
      - db
      - notifications-service

  useraccount-service:
    image: useraccount-service:latest
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${MYSQL_RDS_HOST}:${MYSQL_RDS_PORT}/${MYSQL_RDS_DB}?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: ${MYSQL_RDS_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_RDS_PASSWORD}
      AWS_REGION: ${AWS_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    depends_on:
      - db

  order-service:
    image: order-service:latest
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${MYSQL_RDS_HOST}:${MYSQL_RDS_PORT}/${MYSQL_RDS_DB}?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: ${MYSQL_RDS_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_RDS_PASSWORD}
      AWS_REGION: ${AWS_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SQS_QUEUE_URL: ${AWS_SQS_QUEUE_URL}
    depends_on:
      - db
      - useraccount-service
      - product-service
      - notifications-service

volumes:
  mysql-data: